$alpha: 0.97;

// Font
$font-family: 'lgc', sans-serif !default;

// Custom body
body {
   background-color: #eeeeee;
   font-family: $font-family;
   overflow-x: hidden;
}

// uikit (uk) Overwrites
.uk-{
   &tooltip {
      font-family: 'Open Sans', sans-serif;
      background-color: #ffffff;
      color: #222222;
      font-weight: 600;
   }
}

// Custom (cu)
.cu- {
   &card-cart {
      &-notication {
         background-color: #ff3b2e!important;
         color: #ffffff!important;
         box-shadow: 1px 1px 24px #ff3b2e;
         bottom: 171px;
         right: 94px;
      }
   }
   &text {
      &-color-white {
         color: #ffffff!important;
      }
      &-color-0 {
         color: #fc5b00;
      }
      &-color-1 {
         color: #aaaaaa;
      }
   }
   &box-shadow-none {
      box-shadow: none;
   }
   &border-dark {
      border: 1px solid #444;
   }
}
