$alpha: 0.97;

// Font
$font-family: 'lgc', sans-serif !default;

// Custom body
body {
   background-color: #eeeeee;
   font-family: $font-family;
   overflow-x: hidden;
}

// Overwrites
.uk-{
   &tooltip {
      font-family: 'Open Sans', sans-serif;
      background-color: #fff;
      color: #222222;
      font-weight: 600;
   }
}
// Cart
.cu-card-cart {
   &-notication {
      background-color: #ff3b2e!important;
      color: #fff!important;
      box-shadow: 1px 1px 24px #ff3b2e;
      bottom: 171px;
      right: 94px;
   }
}

// Text colors
.cu-text {
   &-color-0 {
      color: #fc5b00;
   }
}