$alpha: 0.97;

// Primary
$primary: rgba(40, 40, 40, $alpha) !default;
$secondary: rgba(35, 35, 35, $alpha) !default;

$primary-highlight: #337ef1 !default;
$icon-magnifier-color: #a6a6a6 !default;

// Font
$font-family: "Open Sans", sans-serif !default;

// Font colors
$primary-color: rgba(255, 255, 255, $alpha) !default;
$primary-color-dark: rgba(166, 166, 166, $alpha) !default;
$primary-color-error: rgba(#e44c3c, $alpha) !default;
$primary-highlight-color: #ffffff !default;

// Colors for borders
$border-color: rgba(55, 55, 55, $alpha) !default;
$overlay-border-color: none !default;

// Custom body
body {
   background-color: #eeeeee;
   font-family: $font-family;
   overflow-x: hidden;
}

// Text colors
.cu-text {
   &-color-0 {
      color: #fc5b00;
   }
}