<div class="cu-clip-path-circle-expand">
    <div class="uk-position-small uk-position-top-right uk-position-fixed">
        <span uk-icon="icon: close"></span>
    </div>
    <div class="uk-position-small uk-position-top-left uk-position-fixed">
        <span>Press 'Esc' to Close</span>
    </div>
    <div class="uk-container uk-container-xlarge" uk-height-viewport="offset-top: true">
        <div class="uk-padding-large uk-child-width-expand@s" uk-grid>
            <div>
                <div uk-sticky="offset: 200;bottom: 400;">
                    <img src="images/m666_shadow.png" width="800" uk-img>
                    <h4 class="uk-margin-remove uk-text-center">Upon delievery x4</h4>
                    <h5 class="uk-margin-remove uk-text-center">Request for help if your not sure</h5>
                </div>
            </div>
            <div>
               <div class="uk-margin">
                  <h1 class="uk-margin-remove">B100</h1>
                  <p class="uk-margin-remove cu-text-color-0 uk-text-bold">CAD $699.00/Set</p>
                  <p class="uk-margin uk-width-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  <p class="uk-margin-remove"><span uk-icon="icon: comment"></span> Have a question? <a href="#">Ask us.</a></p>
               </div>
               <div class="uk-margin">
                  <h3 class="uk-margin-remove">Your Model</h3>
                  <p class="uk-margin-remove">Will this fit my BMW model?</p>
                  <div class="uk-padding-small uk-margin uk-border-rounded uk-width-medium cu-border-dark">
                     <h4 class="uk-margin-remove">B100 Style</h4>
                     <p class="uk-margin-remove">A 18" rim with perfect black gloss</p>
                  </div>
               </div>
               <div class="uk-margin">
                  <h3 class="uk-margin-remove">Rim Finish</h3>
                  <p class="uk-margin-remove">How the B100 was compeleted</p>
                  <div class="uk-padding-small uk-margin uk-border-rounded uk-width-small uk-text-center cu-border-dark">
                     <h4 class="uk-margin-remove"></h4>
                     <p class="uk-margin-remove">Black</p>
                  </div>
               </div>
               <div class="uk-margin">
                  <h3 class="uk-margin-remove">Bolt & Bore Size</h3>
                  <p class="uk-margin-remove">B100 bolt pattern and bore size</p>
                  <div class="uk-width-large uk-margin">
                     <div class="uk-padding-small uk-border-rounded cu-border-dark uk-column-1-2 uk-column-divider uk-margin">
                        <div>
                           <h4 class="uk-margin-remove">B100 Style</h4>
                           <p class="uk-margin-remove">A 18" rim with perfect black gloss</p>
                        </div>
                        <div>
                           <h4 class="uk-margin-remove">B100 Style</h4>
                           <p class="uk-margin-remove">A 18" rim with perfect black gloss</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="uk-margin">
                  <h3 class="uk-margin-remove">Quantity</h3>
                  <p class="uk-margin-remove">What you will get</p>
                  <div class="uk-padding-small uk-margin uk-border-rounded uk-width-medium cu-border-dark">
                     <h4 class="uk-margin-remove">B100 Style</h4>
                     <p class="uk-margin-remove">A 18" rim with perfect black gloss</p>
                  </div>
               </div>
               <div class="uk-margin">
                  <h3 class="uk-margin-remove">Devilery</h3>
                  <p class="uk-margin-remove">Choose an option from below</p>
                  <div class="uk-width-large uk-column-1-3 uk-margin uk-text-center cu-border-dark">
                     <div class="uk-padding-small uk-border-rounded">
                        <h5 class="uk-margin-remove">GTA</h5>
                     </div>
                     <div class="uk-padding-small uk-border-rounded">
                        <h5 class="uk-margin-remove">Pickering</h5>
                     </div>
                     <div class="uk-padding-small uk-border-rounded">
                        <h5 class="uk-margin-remove">Ajax</h5>
                     </div>
                  </div>
                  <div class="uk-width-large uk-column-1-3 uk-margin uk-text-center cu-border-dark">
                     <div class="uk-padding-small uk-border-rounde">
                        <h5 class="uk-margin-remove">Whitby</h5>
                     </div>
                     <div class="uk-padding-small uk-border-rounded">
                        <h5 class="uk-margin-remove">Markham</h5>
                     </div>
                     <div class="uk-padding-small uk-border-rounded">
                        <h5 class="uk-margin-remove">Vaughan</h5>
                     </div>
                  </div>
                  <div class="uk-width-large uk-column-1-3 uk-margin uk-text-center cu-border-dark">
                     <div class="uk-padding-small uk-border-rounded">
                        <h5 class="uk-margin-remove">Mississauga</h5>
                     </div>
                     <div class="uk-padding-small uk-border-rounded">
                        <h5 class="uk-margin-remove">Brampton</h5>
                     </div>
                     <div class="uk-padding-small uk-border-rounded">
                        <h5 class="uk-margin-remove">Oakville</h5>
                     </div>
                  </div>
               </div>
               <div>
                  <button class="uk-button uk-button-primary uk-border-rounded">Reserve B100 Model</button>
                  <button class="uk-button uk-button-default uk-border-rounded">Cancel</button>
                  <p class="uk-text-small uk-width-large">
                     This is only a reservation. Based on our demand we will verify before finalizing your order.
                  </p>
               </div>
            </div>
        </div>

      <!-- <div>
         <div class="cu-car-model uk-flex uk-flex-center uk-flex-middle">
            <img src="./images/sideR_shadow.png" width="80%" uk-img>
         </div>
      </div> -->
        <!-- <hr/>
        <div class="uk-text-center uk-width-2xlarge uk-align-center">
            <h1 class="uk-margin-remove">Upon delivery, you get</h1>
            <p class="uk-margin-remove">Yes, when we deilver you will get this.</p>
            <div class="uk-child-width-expand@s uk-margin-large" uk-grid>
                <div>
                    <img src="images/box.png" width="800" uk-img>
                    <p>x4</p>
                </div>
                <div>
                    <img src="images/m666_shadow.png" width="800" uk-img>
                    <p>x4</p>
                </div>
            </div>
        </div> -->
    </div>
</div>