<div class="uk-position-fixed uk-width-1-1 uk-light uk-z-index">
   <div class="uk-background-secondary" uk-height-viewport="offset-top: true;">

   </div>
   <!-- <div class="uk-position-center uk-text-center"> 
      <img data-src="images/m666.png" width="50%" uk-img>
      <a class="uk-position-absolute uk-transform-center" style="right: 40%; top: 13%" href="#" uk-marker uk-tooltip="Gloss Finish"></a>
      <a class="uk-position-absolute uk-transform-center" style="right: 51%; top: 55%" href="#" uk-marker uk-tooltip="18' Bolt size"></a>
      <a class="uk-position-absolute uk-transform-center" style="right: 38%; top: 75%" href="#" uk-marker uk-tooltip="20 Spokes"></a>
   </div> -->
</div>