<div class="uk-position-relative uk-width-1-1">
   <div class="uk-container uk-container-xlarge" style="min-height: 800px;">
      <div class="uk-padding-large uk-child-width-expand@s" uk-grid>
         <div class="uk-flex uk-flex-middle">
            <div class="uk-text-left">
               <h1 class="uk-margin-remove uk-width-xlarge uk-heading-large cu-font-montextraheavy">
                  Your car needs
               </h1>
               <h1 class="uk-margin-remove uk-width-xlarge uk-heading-large gradient-text-1 cu-font-montextraheavy">
                  the best
               </h1>
               <h1 class="uk-margin-small uk-width-xlarge cu-font-montextralight">
                  A production-ready set of wheels that will fit your car.
               </h1>
            </div>
         </div>
         <div class="uk-flex uk-flex-middle">
            <div>
               <img ng-src="images/b100.png" alt="" uk-img>
               <span>
                  <span class="uk-position-relative" style="left: 330px;bottom: 485px;" uk-marker uk-tooltip="title: Rim Size"></span>
                  <span class="uk-position-relative" style="left: 100px;bottom: 335px;" uk-marker uk-tooltip="title: Finish"></span>
                  <span class="uk-position-relative" style="left: 235px;bottom: 215px;" uk-marker uk-tooltip="title: Bolt Pattern"></span>
                  <span class="uk-position-relative" style="left: 250px;bottom: 295px;" uk-marker uk-tooltip="title: Bore Size"></span>
               </span>
               <p class="uk-text-center uk-margin-remove">Quick Guide</p>
               <p class="uk-text-center uk-margin-remove">Follow these quick steps to determine the right fit</p>
           </div>
         </div>
      </div>
   </div>
   <!-- <div class="uk-position-center uk-text-center"> 
      <h1 class="uk-width-2xlarge uk-heading-large gradient-text-1 cu-font-lgcl">
         Your car deserves the very best.
      </h1>
   </div> -->
</div>