<div class="uk-position-relative uk-width-1-1">
   <div class="uk-container uk-container-xlarge" style="min-height: 800px;">
      <div class="uk-padding-large uk-child-width-expand@s" uk-grid>
         <div class="uk-flex uk-flex-middle">
            <div class="uk-text-left">
               <h1 class="uk-margin-remove uk-width-xlarge uk-heading-large cu-font-montextraheavy">
                  For the car
               </h1>
               <h1 class="uk-margin-remove uk-width-xlarge uk-heading-large gradient-text-1 cu-font-montextraheavy">
                  you love
               </h1>
               <h1 class="uk-margin-small uk-width-xlarge cu-font-montextralight">
                  A production-ready set of wheels that will fit your car.
               </h1>
               <p>*No online payment required, simply reserve.</p>
            </div>
         </div>
         <div class="uk-flex uk-flex-middle">
            <div class="uk-position-relative">
               <div class="uk-position-center">
                  <span>
                     <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 200 200" style="fill: #c1b;width: 500px;">
                        <path d="M36.4,-46.4C44.6,-36.4,47,-22.6,49.8,-8.5C52.5,5.5,55.7,19.8,53.2,36.8C50.6,53.7,42.2,73.4,29.3,76.4C16.3,79.4,-1.3,65.6,-13.8,54C-26.2,42.5,-33.6,33.1,-44,22C-54.5,11,-67.9,-1.7,-65.3,-10.7C-62.7,-19.7,-44.1,-25,-30.6,-34.1C-17,-43.2,-8.5,-56,2.8,-59.4C14.1,-62.7,28.1,-56.5,36.4,-46.4Z" transform="translate(100 100)" />
                     </svg>
                  </span>
               </div>
               <img class="uk-card-media-top uk-cover-container" ng-src="images/b100.png" alt="" uk-img>
               <span>
                  <span class="uk-position-relative" style="left: 330px;bottom: 485px;" uk-marker uk-tooltip="title: Rim Size"></span>
                  <span class="uk-position-relative" style="left: 100px;bottom: 335px;" uk-marker uk-tooltip="title: Finish"></span>
                  <span class="uk-position-relative" style="left: 235px;bottom: 215px;" uk-marker uk-tooltip="title: Bolt Pattern"></span>
                  <span class="uk-position-relative" style="left: 250px;bottom: 295px;" uk-marker uk-tooltip="title: Bore Size"></span>
               </span>
               <p class="uk-text-center uk-margin-remove">Quick Guide</p>
               <p class="uk-text-center uk-margin-remove">Follow these quick steps to determine the right fit</p>
           </div>
         </div>
      </div>
   </div>
   <!-- <div class="uk-position-center uk-text-center"> 
      <h1 class="uk-width-2xlarge uk-heading-large gradient-text-1 cu-font-lgcl">
         Your car deserves the very best.
      </h1>
   </div> -->
</div>