<div class="uk-position-relative uk-width-1-1" uk-height-viewport="offset-top: true;" style="background-color:#e5e5e5;clip-path: polygon( 2% 0, 100% 2%, 98% 100%, 0 98% );">
    <div class="uk-position-center uk-text-center"> 
        <h1 class="uk-width-2xlarge uk-text-large">
            As lightweight and modular front-end framework
            for developing fast and powerful web interfaces.
         </h1>
        <div class="uk-inline">
            <button class="uk-button uk-button-text uk-text-capitalize"><span uk-icon="icon: arrow-down"></span></button>
        </div>
    </div>
</div>