<!-- Initialized Header... -->
<div class="uk-position-z-index" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;">
   <nav class="uk-container-large uk-align-center uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-center">
            <ul class="uk-navbar-nav uk-visible@s">
               <li class="uk-active">
                  <a uk-scroll class="uk-text-capitalize" ng-click="redirect('/')">
                     <b>Chronos</b>
                  </a>
               </li>
               <li>
                  <a uk-scroll ng-click="redirect('pageA')" class="uk-text-capitalize">R100</a>
               </li>
               <li>
                  <a uk-scroll ng-click="redirect('pageB')" class="uk-text-capitalize">I100</a>
               </li>
               <li>
                  <a uk-scroll ng-click="redirect('pageB')" class="uk-text-capitalize">M100</a>
               </li>
            </ul>
            <ul class="uk-navbar-nav uk-hidden@s">
               <li><a class="uk-text-capitalize" uk-toggle="target: #offcanvas-push"><span uk-icon="icon: menu; ratio: 1"></span></a></li>
            </ul>
      </div>
   </nav>
</div>
