<!-- Index View Root -->
<div class="uk-background-secondary uk-section uk-section-default uk-padding-remove uk-position-relative">
   <div>
      <div uk-height-viewport="offset-top: true;">
         <div class="uk-position-absolute uk-width-1-1 uk-flex uk-flex-center uk-flex-middle" uk-height-viewport="offset-top: true;">
            <h1 class="uk-light uk-width-xlarge uk-heading-medium uk-text-lighter uk-text-center">Purple Pentagram'20</h1>
         </div>
         <div class="cu-car-model uk-flex uk-flex-center uk-flex-middle" uk-height-viewport="offset-top: true;">
            <div class="frame-model-666m"></div>
         </div>
      </div>
      <!-- <div class="uk-container uk-margin-small uk-padding-medium uk-container-large">
         <div>
            <img data-src="images/front_666m.png" uk-img>
         </div>
      </div> -->
   </div>
</div>
