<div class="uk-width-1-1">
   <div class="uk-position-small uk-position-top-right uk-position-fixed">
      <span uk-icon="icon: close"></span>
   </div>
   <div class="uk-position-small uk-position-top-left uk-position-fixed">
      <span>Press 'Esc' to Close</span>
   </div>
   <div class="uk-container uk-container-xlarge cu-clip-path-circle-expand">
      <div class="uk-padding-large uk-text-center uk-width-xlarge uk-align-center">
         <h1 class="uk-margin-remove">B100</h1>
         <p class="uk-margin-remove cu-text-color-0 uk-text-bold">CAD $699.99/Set</p>
         <p class="uk-margin">18x8 Satin black replicas of BMW's 666m wheels designed to fit BMW 3 series 2006 to 2018.</p>
         <div class="uk-label uk-label-default uk-text-bold uk-box-shadow-small">BMW</div>
      </div>
      <div class="uk-flex uk-flex-center uk-padding-large cu-frame-rim">
         <div class="uk-inline uk-position-z-index cu-frame-rim-bullet">
            <div class="frame-rim-b100"></div>
            <div class="uk-position-small uk-position-top-left">
               <dl class="uk-description-list ">
                  <dt class="cu-text-color-white"><b>1.</b> Rim Size: 18x8</dt>
                  <dd>Square setup perfect for 3 series</dd>
              </dl>
            </div>
            <div class="uk-position-small uk-position-center-left">
               <dl class="uk-description-list ">
                  <dt class="cu-text-color-white"><b>2.</b> Center Bore: 72.6mm</dt>
                  <dd>Factory fit and will require no center bore rings</dd>
              </dl>
            </div>
            <div class="uk-position-small uk-position-bottom-left">
               <dl class="uk-description-list ">
                  <dt class="cu-text-color-white"><b>3.</b> Color: Satin Black</dt>
                  <dd>Smooth satin black finish that shines just the right amount</dd>
              </dl>
            </div>
            <div class="uk-position-small uk-position-center-right">
               <dl class="uk-description-list ">
                  <dt class="cu-text-color-white"><b>4.</b> Bolt Pattern: 5x120</dt>
                  <dd>OEM bolt pattern, the same as all BMWs</dd>
              </dl>
            </div>
            <div class="uk-position-small uk-position-top-right">
               <dl class="uk-description-list ">
                  <dt class="cu-text-color-white"><b>5.</b> Offset: 35</dt>
                  <dd>Factory recommended offset for 18x8 inch rims</dd>
              </dl>
            </div>
            <div class="uk-position-small uk-position-bottom-right">
               <dl class="uk-description-list ">
                  <dt class="cu-text-color-white"><b>6.</b> Material & Weight: Aluminum 10kg per rim</dt>
                  <dd>Made of light aluminum that can sustain track use</dd>
              </dl>
            </div>
         </div>
      </div>
      <div class="uk-padding-small uk-text-center uk-width-xlarge uk-align-center">
         <p class="uk-text-small">No online payment required.<br/>Simply reserve, and that's all.</p>
      </div>
      <!-- <div class="uk-child-width-expand@s uk-flex uk-flex-middle uk-flex-center uk-padding-large" uk-grid>
         <div class="uk-width-1-3">
             <h3>Heading</h3>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
         </div>
         <div>
            <div class="cu-car-model">
               <div class="frame-model-666m"></div>
            </div>
          </div>
     </div> -->
   </div>
</div>