<div class="uk-background-secondary uk-width-1-1 uk-light">
   <div class="uk-position-small uk-position-top-right uk-position-fixed">
      <span uk-icon="icon: close"></span>
   </div>
   <div class="uk-position-small uk-position-top-left uk-position-fixed">
      <span>Press 'Esc' to Close</span>
   </div>
   <div class="uk-container uk-container-xlarge cu-clip-path-circle-expand">
      <div class="uk-padding-large uk-text-center uk-width-xlarge uk-align-center">
         <h1 class="uk-margin-remove">B100</h1>
         <p class="uk-margin-remove cu-text-color-0 uk-text-bold">CAD $699.00</p>
         <p class="uk-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
         <div class="uk-label uk-label-default uk-text-bold uk-box-shadow-small">BMW</div>
      </div>
      <div class="uk-flex uk-flex-center uk-padding-large">
         <div class="uk-position-absolute">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" style="fill: #ff701f;width: 500px;">
               <path d="M60.3,-47.7C69.7,-36.3,63.1,-11.7,57.2,12.7C51.4,37.1,46.2,61.2,31.4,70.3C16.7,79.3,-7.8,73.2,-30,62.4C-52.1,51.7,-72,36.3,-74.4,19C-76.7,1.6,-61.6,-17.7,-46.3,-30.5C-31,-43.2,-15.5,-49.3,5,-53.3C25.4,-57.2,50.9,-59.1,60.3,-47.7Z" transform="translate(100 100)" />
            </svg>
         </div>
         <div class="uk-inline uk-position-z-index">
            <img src="images/m666_shadow.png" width="800" uk-img>
            <div class="uk-position-small uk-position-top-left">
               <dl class="uk-description-list ">
                  <dt class="cu-text-color-white"><b>1.</b> Glossy Finish</dt>
                  <dd>A smooth black gloos over the rim</dd>
              </dl>
            </div>
            <div class="uk-position-small uk-position-center-left">
               <dl class="uk-description-list ">
                  <dt class="cu-text-color-white"><b>2.</b> 18" Rim Size</dt>
                  <dd>A smooth black gloos over the rim</dd>
              </dl>
            </div>
            <div class="uk-position-small uk-position-center-right">
               <dl class="uk-description-list ">
                  <dt class="cu-text-color-white"><b>3.</b> Bolt Pattern</dt>
                  <dd>A smooth black gloos over the rim</dd>
              </dl>
            </div>
            <div class="uk-position-small uk-position-bottom-right">
               <dl class="uk-description-list ">
                  <dt class="cu-text-color-white"><b>4.</b> 20 Spokes</dt>
                  <dd>A smooth black gloos over the rim</dd>
              </dl>
            </div>
         </div>
      </div>
      <div class="uk-padding-small uk-text-center uk-width-xlarge uk-align-center">
         <p class="uk-text-small">No online payment required.<br/>Simply reserve, and that's all.</p>
      </div>
     <!-- <div>
         <div class="cu-car-model uk-flex uk-flex-center uk-flex-middle">
            <div class="frame-model-666m"></div>
         </div>
      </div> -->
   </div>
</div>