<footer class="uk-container uk-container-medium uk-align-center uk-margin-small terms uk-padding-small">
    <div>
        <ul class="uk-list uk-list-small uk-list-muted uk-text-small uk-text-normal cu-text-color-1 cu-font-lgcb">
            <li>1. All sales are finals and cannot be refunded.</li>
            <li>2. As of now, cash and etransfer are the only accepted forms of payment.</li>
            <li>3. Customer is encouraged to inspect items upon delivery, and at no cost. If the customer is unhappy with the products at the time of delivery, they have the right to cancel purchase, at no additional cost.</li>
            <li>4. All rims are rigorously tested by our manufacturing partners and accredited by industry leading certification authorities JWL and VIA from Japan.</li>
            <li>5. All sales come with one free rim replacement up until 15 days from the date of delivery. Rims are only replaced if driven in normal conditions.</li>
            <li>We do not setup appointments for pickup, and nor do we setup appointments to meet at certain areas. We are an online-only establishment with free delivery within the Greater Toronto Area (GTA) and surrounding areas of Pickering, Ajax, Whitby, Markham, Vaughan, Mississauga, Brampton and Oakville.</li>
        </ul>
    </div>
    <hr/>
    <div class="uk-child-width-expand cu-font-lgcb cu-text-color-1" uk-grid>
        <div class="uk-width-expand uk-text-small">
            <p class="uk-margin-remove">To find out more about who we are, or have a question? Connect via eMail or call us 1-800-Phone</p>
            <p class="uk-margin-remove">Copyright &copy; 2021. {Tile}. All rights reserved.</p>
        </div>
        <div class="uk-width-1-4 uk-text-right">
            <p class="uk-text-small">Canada (English)</p>
        </div>
    </div>
   <div class="uk-flex uk-flex-center uk-margin">
      <ul class="uk-subnav uk-subnav-divider uk-text-small uk-text-center uk-margin-remove cu-text-color-1">
         <li><a href="#" class="uk-text-capitalize">FAQ's</a></li>
         <li><a href="#" class="uk-text-capitalize">Refund Policy</a></li>
         <li><a href="#" class="uk-text-capitalize">Got a Complaint?</a></li>
      </ul>
   </div>
</footer>