<div>
	<!-- Root -->
	<header-overlay ng-if="rootData.partialURI == 'root'"></header-overlay>
	<hero-overlay ng-if="rootData.partialURI == 'root'"></hero-overlay>
	<item-lists-overlay
		ng-if="rootData.partialURI == 'root'"
	></item-lists-overlay>

	<!-- Details -->
	<item-details-overlay
		ng-if="rootData.partialURI == 'details'"
	></item-details-overlay>

	<!-- Cart -->
	<cart-overlay ng-if="rootData.partialURI == 'cart'"></cart-overlay>

	<!-- Footer for all -->
	<footer-overlay></footer-overlay>
</div>
