<div>
    <div class="uk-position-small uk-position-top-right uk-position-fixed">
        <span uk-icon="icon: close"></span>
    </div>
    <div class="uk-position-small uk-position-top-left uk-position-fixed">
        <span>Press 'Esc' to Close</span>
    </div>
    <div class="uk-container uk-container-xlarge" uk-height-viewport="offset-top: true">
        <div class="uk-padding-large uk-child-width-expand@s uk-flex uk-flex-middle uk-flex-center" uk-grid>
            <div>
                <div style="z-index: 9;">
                    <img src="images/m666_shadow.png" width="800" uk-img>
                </div>
            </div>
            <div>
                <div class="uk-margin">
                    <h1 class="uk-margin-remove">B100</h1>
                    <p class="uk-margin-remove cu-text-color-0 uk-text-bold">CAD $699.00/Set</p>
                    <p class="uk-margin uk-width-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <p class="uk-margin-remove"><span uk-icon="icon: comment"></span> Have a question? <a href="#">Ask us.</a></p>
                 </div>
                <div class="uk-margin">
                    <h3 class="uk-margin-remove">Your Model</h3>
                    <p class="uk-margin-remove">Will this fit my BMW model?</p>
                </div>
                <div class="uk-margin">
                    <h3 class="uk-margin-remove">Rim Finish</h3>
                    <p class="uk-margin-remove">How the B100 was compeleted</p>
                </div>
                <div class="uk-margin">
                    <h3 class="uk-margin-remove">Bolt & Bore Size</h3>
                    <p class="uk-margin-remove">B100 bolt pattern and bore size</p>
                </div>
                <div class="uk-margin">
                    <h3 class="uk-margin-remove">Quantity</h3>
                    <p class="uk-margin-remove">What you will get</p>
                </div>
                <div class="uk-margin">
                    <h3 class="uk-margin-remove">Devilery</h3>
                    <p class="uk-margin-remove">Choose an option from below</p>
                </div>
                <div>
                    <button class="uk-button uk-button-primary uk-border-rounded">Reserve B100 Model</button>
                    <button class="uk-button uk-button-default uk-border-rounded">Cancel</button>
                    <p class="uk-text-small uk-width-large">
                        This is only a reservation. Based on our demand we will verify before finalizing your order.
                    </p>
                </div>
            </div>
        </div>
        <!-- <hr/>
        <div class="uk-text-center uk-width-2xlarge uk-align-center">
            <h1 class="uk-margin-remove">Upon delivery, you get</h1>
            <p class="uk-margin-remove">Yes, when we deilver you will get this.</p>
            <div class="uk-child-width-expand@s uk-margin-large" uk-grid>
                <div>
                    <img src="images/box.png" width="800" uk-img>
                    <p>x4</p>
                </div>
                <div>
                    <img src="images/m666_shadow.png" width="800" uk-img>
                    <p>x4</p>
                </div>
            </div>
        </div> -->
    </div>
</div>